<h1>Hi</h1>
<form action="/products" method="GET">
    <button type="submit">Products</button>
</form>
<form action="/user" method="GET">
    <button type="submit">User infos</button>
</form>
<form action="/auth/logout" method="POST">
    <button type="submit">Log Out</button>
</form>